/* UNIVERSAL ------------------------------------------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

::selection {
    background-color: var(--lime-green);
    color: var(--dark-blue);
}
/* ROOT ------------------------------------------------ */
:root {
    /* primary colors */
    --lime-green: #78FFA6;
    --electric-blue: #00C2FF;
    --electric-blue-2: rgba(0, 194, 255, 0.2);
    --electric-blue-0: rgba(0, 194, 255, 0);

    /* neutral olors */
    --dark-blue: #0E0048;
    --dark-blue-0: rgba(14, 0, 72, 0);
    --off-white: #FDF1FF;
    --off-white-70: rgba(253, 241, 255, 0.7);
    --off-white-1: rgba(253, 241, 255, 0.1);
    --off-black: #0E062F;
    --off-black-50: rgba(14, 6, 47, 0.5);

    /* error */
    --error:#f57474;
}

/* ALL IMAGES ------------------------------------------------ */
img {
    max-width: 100%;
}

/* SCROLLING BEHAVIOR ------------------------------------------------ */
html {
    scroll-behavior: smooth;
}

/* FONT IMPORTS ------------------------------------------------ */
@font-face {
    font-family: 'Clash Display Medium';
    src: url(fonts/ClashDisplayMedium.ttf);
}

@font-face {
    font-family: 'Clash Display Bold';
    src: url(fonts/ClashDisplayBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

/* ALL HEADINGS ------------------------------------------------ */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Clash Display Bold';
}

/* ALL SUBHEADINGS ------------------------------------------------ */

.subheading {
    font-family: 'Clash Display Medium';
    opacity: 0.6;
}

/* TEXT STYLES------------------------------------------------ */
.italic-txt {
    font-style: italic;
    color: var(--lime-green);
    font-weight: 500;
}

/* MARGINS------------------------------------------------ */
.margin-bottom-micro {
    margin-bottom: 0.5rem;
}
.margin-bottom-tiny {
    margin-bottom: 0.8rem;
}
.margin-bottom-small {
    margin-bottom: 1.5rem;
}
.margin-bottom-medium {
    margin-bottom: 2.5rem;
}
.margin-bottom-large {
    margin-bottom: 4rem;
}
/* TEXT STYLES */
.allcaps {
    text-transform: uppercase;
}
.bold {
    font-family: 'Clash Display Bold';
}
.text-center {
    text-align: center;
}

/* ALL BUTTONS ------------------------------------------------ */

button {
    cursor: pointer;
    transition: .3s ease all;
    border: none;
    outline: none;
}

/* ALL LINKS ------------------------------------------------ */
a {
    cursor: pointer;
    transition: .3s ease all;
}

/* LAYOUT ------------------------------------------------ */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

.grid-2col {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.grid-2-col-2-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
}
.column {
    flex-direction: column;
}

/* GAPS------------------------------------------------ */
.gap-micro {
    gap: 0.3rem;
}
.gap-tiny {
    gap: 0.5rem;
}
.gap-small {
    gap: 1.5rem;
}
.gap-medium {
    gap: 2rem;
}

/* POSITIONS ------------------------------------------------ */
.is-relative {
    position: relative;
}

.is-absolute {
    position: absolute;
}

.is-fixed {
    position: fixed;
}

/* OVERFLOW ------------------------------------------------ */
.overflow-hidden {
    overflow: hidden;
}

/* SECTION BG COLOR AND TEXT COLOR ------------------------------------------------ */
.section-darkblue {
    background-color: var(--dark-blue);
    color: var(--off-white);
}

.section-very-dark-bg {
    background-color: var(--off-black);
    color: var(--off-white-70);
}

/* PADDING ------------------------------------------------ */
.padding-global {
    padding: 0 2.5rem;

    width: 100%;
}

.padding-section-small {
    padding: 2rem 0;
}
.padding-section-tiny {
    padding: 1rem 0;
}
.padding-section-medium {
    padding: 10rem 0;
}
.padding-section-large {
    padding: 15rem 0;
}

/* CONTAINERS ------------------------------------------------ */
.container-medium {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
.overflow-wrapper {
    overflow-x: hidden;
}

/* BODY ------------------------------------------------ */
body {
    width: 100%;
    min-height: 100vh;
    font-size: 1rem;
    line-height: 1.2;
    font-family: 'Archivo', sans-serif;
    cursor: none;
    position: relative;
    overflow-x: hidden;
}

/* HOME -------------------------------------------------------------------------------------------------- */

/* PRELOADER ------------------------------------------------ */
.preloader {
    min-height: 100vh;
    width: 100%;
    z-index: 10000000;
}

.preloader-content {
    width: 100%;
    height: 100vh;
}

/* CURSOR ------------------------------------------------ */
.cursor-dot {
    width: 20px;
    height: 20px;
    position: fixed;
    pointer-events: none;
    z-index: 8000;
    border-radius: 50%;
    z-index: 10000000000;
    background: linear-gradient(45deg, var(--lime-green), var(--electric-blue));
}

/* NAVBAR------------------------------------------------ */

.logo {
    color: var(--lime-green);
    font-weight: 600;
    font-size: 1.5rem;
}

.navbar {
    width: 100%;
    top: 0;
    z-index: 100000;
}
.mobileOverlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--off-black), var(--off-black-50));
    z-index: 99998;
    opacity: 0;
    display: none;
    transition: .3s ease all;
}
.mobileMenuContainer {
    width: 70%;
    z-index: 99999;
    right: 0;
    top: 0;
    height: 100%;
    padding: 2rem;
    padding-top: 10rem;

    backdrop-filter: blur(50px);
    background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue-0));
    box-shadow: inset 0px 0px 10px 0 var(--electric-blue-2);
    right: -100%;
    transition: .3s ease all;
}

.mobile-menu {
    text-align: right;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mobile-link {
    color: var(--off-white);
    font-size: 1.5rem;
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    transition: .3s ease all;
}
.mobile-link:hover {
    color: var(--lime-green);
}
.nav-container {
    background-color: var(--off-white-1);
    border-radius: 30px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    backdrop-filter: blur(20px);
}

.nav-list-item {
    padding: 1rem;
    border-radius: 10px;
}
.nav-link {
    color: var(--off-white);
    font-family: 'Clash Display';
    font-weight: 500;
    text-transform: capitalize;
}

.nav-link-bg {
    background-color: var(--lime-green);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    z-index: -1;
    border-radius: 50%;
    transition: .3s ease all;
}
.menuToggle {
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--off-white);
    display: none;
}

.closeMenu {
    display: block;
}

.nav-list-item:hover:not(:last-child) .nav-link {
    color: var(--dark-blue);
}

.nav-list-item:hover:not(:last-child) .nav-link-bg {
    width: 150%;
    height: 150%;
}

.nav-list-item:last-child {
    overflow: visible;
}

.btn,
.primary-btn,
.linkBtn {
    padding: 1rem;
    background: linear-gradient(45deg, var(--lime-green), var(--electric-blue));
    border-radius: 10px;
    position: relative;
}

.btn-txt,
.primary-btn,
.linkBtn {
    font-family: 'Clash Display';
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    z-index: 1020;
    color: var(--dark-blue);
}

.btn::after,
.primary-btn::after,
.linkBtn::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(to right, var(--lime-green), var(--electric-blue));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    opacity: 20%;
    transition: .3s ease all;
}

.btn:hover::after,
.primary-btn.btn:hover::after,
.linkBtn:hover::after {
    width: calc(100% + 15px);
    height: calc(100% + 15px);
}

.btn::before,
.primary-btn::before,
.linkBtn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--electric-blue);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease all;
}

.btn:hover,
.primary-btn:hover,
.linkBtn:hover {
    transform: scale(1.1);
}

/* HERO------------------------------------------------ */
.section_home-hero {
    min-height: 100vh;
    display: flex;
    align-items: center
    ;
    background-image: url(home/screenshots/Vector\ 1.svg);
    background-repeat: no-repeat;
    background-position-y: 150%;
    background-position-x: center;
    background-size: 110%;
}

.ghost-btn {
    background: transparent;
    border: 1px solid var(--electric-blue);
}


.ghost-btn .btn-txt {
    color: var(--electric-blue)
    ;
}

.hero-heading {
    font-size: 3rem;
    color: var(--off-white);
    z-index: 1000;
    margin-bottom: 2rem;
}

.hero-p {
    max-width: 70%;
    margin-bottom: 1rem;
}

.hero-span {
    background-image: linear-gradient(to right, var(--lime-green), var(--electric-blue));
    background-clip: text;
    color: transparent;
}


/* BANNER SCROLL------------------------------------------------ */
.banner {
    padding: 1rem 0;
    color: var(--electric-blue);
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Clash Display';
    white-space: nowrap;
}
.banner-two {
    color: var(--lime-green);
}
.banner-one {
    animation: scrollLeft 120s linear infinite;
}
.banner-two {
    animation: scrollRight 120s linear infinite;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scrollRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* USP SECTION ------------------------------------------------ */

.usp-container {
    background-color: var(--off-black);
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px;
}
.usp-icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--lime-green);
    border-radius: 50%;
}
.usp-icon i {
    color: var(--lime-green);
}
.usp-container::after {
    content: '';
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: linear-gradient(45deg, var(--lime-green), var(--electric-blue));
    opacity: 90%;
    z-index: -1;
    border-radius: 20px;
}
.usp-title {
    color: var(--off-white);
}
.section-darkblue-bg {
    background-color: transparent;
    width: 100%;
    height: 5rem;
    bottom: 0;
    top: 50%;
}
.section-darkblue-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--lime-green), var(--electric-blue));
}

/* OVER MIJ------------------------------------------------ */
.about-inner-section {
    padding: 2rem;
    backdrop-filter: blur(50px);
    background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue-0));
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 0 var(--electric-blue-2);
}

.about-content {
    max-width: 50%;
}
.heading-two {
    font-size: 2.3rem;
}
.vera {
    max-width: 600px;
    bottom: -1%;
    right: 0;
    z-index: 400;
}

.blurred-bg-dot {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: var(--electric-blue);
    filter: blur(100px);
    opacity: 30%;
}

.over-mij-dot {
    left: 0;
    bottom: 10%;
}

/* TESTIMONIALS ------------------------------------------------ */
.testimonial {
    background-color: var(--off-white-1);
    border-radius: 20px;
    padding: 2rem;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review {
    margin-bottom: 2.5rem;
}

.author-name {
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.author-function {
    opacity: 0.6;
    font-size: 0.8rem;
}
.testimonial-dot-one {
    right: 0;
    bottom: -10%;
}
.green-dot {
    background-color: var(--lime-green);
    top: -10%;
}

/* PROJECTS  -----------------------------------*/
.tab-btn {
    background-color: transparent;
    border: 1px solid var(--lime-green);
    color: var(--lime-green);
    font-family: 'Clash Display', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.tab-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: var(--lime-green);
    transition: .3s ease all;
    z-index: -1;
}
.tab-btn:hover::after {
    width: 150%;
    height: 150%;
}
.tab-btn:hover {
    color: var(--dark-blue);
}
.active-tab {
    background: linear-gradient(to right, var(--lime-green), var(--electric-blue));
    border: 1px solid transparent;
    color: var(--dark-blue);
    font-weight: 600;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
    background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue-0));
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 0 var(--electric-blue-2);
    overflow: hidden;
    padding: 1.5rem;
    backdrop-filter: blur(20px);
    max-width: 350px;
}

.project-card:hover .project-header-img img {
    transform: scale(1.2);
}

.project-header-img {
    overflow: hidden;
    height: 10rem;
    border-radius: 5px;
}

.project-header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease all;
}

.project-content {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-name {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
}

.primary-btn {
    width: 100%;
}
.section_projects .text-wrapper {
    max-width: 60%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

/* DETAIL OVERLAY --------------- */
.overlay {
    z-index: 2000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, var(--off-black), var(--off-black-50));
    backdrop-filter: blur(5px);
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.overlay .padding-global {
    height: 100%;
}
.overlay .container-medium {
    height: 100%;
}
.overlay .grid-2col {
    height: 100%;
    align-items: center;
}
.overlay-close-btn {
    float: right;
    font-size: 2.5rem;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay-close-btn i {
    color: var(--off-white);
}

.swiper-wrapper {
    max-width: 300px;
}
.swiper-slide {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
span.swiper-pagination-bullet {
    background-color: var(--off-white);
    width: 10px;
    height: 10px;
    transition: .3s ease all;
    cursor: pointer;
}
span.swiper-pagination-bullet:hover {
    background-color: var(--electric-blue);
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--electric-blue);
}
.category-box {
    color: var(--off-white-70);
    border: 1px solid var(--off-white-70);
    border-radius: 5px;
    padding: 0.8rem;
}
.gradient-title {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, var(--lime-green), var(--electric-blue));
    background-clip: text;
    color: transparent;
}

/* fixed classes for js */
.isFixed {
    position: fixed;
}
.overflowHidden {
    overflow: hidden;
}
.isRelative {
    position: relative;
}
.paddingSectionSmall {
    padding: 2rem 0;
}
/* CONTACT BANNER  ---------------*/
.section_contact-banner {
    background-image: url(home/hero\ wave.svg);
    background-size: cover;
}
.banner-inner-section {
    padding: 2rem;
    backdrop-filter: blur(30px);
    background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue-0));
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px 0 var(--electric-blue-2);
}

.contact-form {
    border-radius: 10px;
    background-color: var(--off-white-1);
    padding: 1.5rem;
    backdrop-filter: blur(20px);
    max-width: 400px;
}

.contact-form input,
.text-area,
.footer-email-input {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--off-white-70);
    border-radius: 10px;
    background-color: var(--off-white-1);
    color: var(--off-white);
}

.contact-form input::placeholder,
.text-area::placeholder,
.footer-email-input::placeholder {
    font-family: 'Archivo', sans-serif;
    color: var(--off-white);
    font-size: 0.8rem;
}

.submit-btn,
.footer-submit-btn {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    color: var(--dark-blue);
    font-size: 1rem;
}

.email-address,
.footer-email-input {
    margin-bottom: 0;
}

.error,
.footerError {
    color: var(--error);
    font-size: 0.8rem;
    display: none;
}

.contact-form input:focus,
.text-area:focus,
.footer-email-input:focus {
    border-color: var(--electric-blue);
    color: var(--off-white);
}

.contact-form input:focus::placeholder,
.text-area:focus::placeholder,
.text-area:focus::placeholder,
.footer-email-input:focus::placeholder
{
    color: var(--electric-blue);
}

.form-label {
    color: var(--off-white);
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
}

.showError .email-address,
.showError .footer-email-input {
    border-color: var(--error);
}

.showError .error {
    display: flex;
    margin-top: 0.5rem;
}
.showError .footerError {
    margin-top: 0.5rem;
}
.showError .footerError {
    display: block;
}

.section_contact-banner {
    background-image: url(projects/projects-wave.svg);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50%;
}

.contact-grid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.contact-top {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contact-bottom {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.contact-box {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--off-white-70);
}

#instaBox, #linkedinBox, #dribbbleBox {
    flex-direction: column;
}
.phone-mockup {
    z-index: 1000;
    right: 0%;
    bottom: 0%;
    max-width: 700px;
}

.section_contact-banner .text-wrapper {
    max-width: 500px;
}

/* FOOTER --------------- */
.section_footer {
    background: linear-gradient(to bottom, var(--dark-blue), var(--dark-blue-0));
    margin-top: 4rem;
    padding: 3rem 0;
}
.section_footer::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, var(--lime-green), var(--dark-blue));
}
.footer-container {
    margin-top: 2rem;
}

.footer-heading {
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-list, .footer-nav, .socials, .footer-form {
    margin-top: 1rem;
}

.footer-link {
    color: var(--off-white);
}

.footer-link:hover {
    color: var(--electric-blue);
}

.social-item {
    overflow: hidden;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid var(--lime-green);
    border-radius: 10px;
    cursor: pointer;
}
.social-item::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: var(--lime-green);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease all;
}
.social-item i {
    color: var(--lime-green);
    font-size: 1.3rem;
    transition: .3s ease all;
}
.social-item:hover::after {
    width: 130%;
    height: 130%;
    z-index: -1;
}
.social-item:hover i{
    color: var(--dark-blue);
    transform: scale(1.2);
}

.footer-form {
    align-items: flex-start;
}

/* COPYRIGHT --------------- */
.section_copyright {
    background-color: var(--off-white-1);
    padding: 0.5rem 0;
}
.copyright {
    font-size: 0.8rem;
}

/* MOBILE VERSION --------------- */
@media screen and (max-width : 800px) {

    /* PADDING ----------------------------- */
    .padding-section-tiny {
        padding: 2rem 0;
    }
    .padding-section-medium {
        padding: 5rem 0;
    }
    .padding-global {
        padding: 0 1.5rem;
    }
   /* nav ----------------------------------*/
   .desktop-menu {
    display: none;
   }
   .menuToggle {
    display: flex;
   }
   .menuToggle .closeMenu {
    display: none;
   }
   .menuToggle .hamburgerIcon {
    display: block;
   }

   .showMenu .closeMenu {
    display: block;
   }
   .showMenu .hamburgerIcon {
    display: none;
   }
   .showMenu .mobileOverlay {
    display: block;
    opacity: 1;
   }

   .showMenu .mobileMenuContainer {
    right: 0;
   }

   .nav-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   }
   .navbar {
    padding: 0 1.5rem;
   }

    /* grid ----------------------------------*/
    .grid-2col {
        grid-template-columns: 1fr;
    }
    .section_home-hero .padding-global {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* gaps ----------------------------------*/
    .gap-small {
        gap: 2.5rem;
    }

   /* hero */
   .section_home-hero {
    text-align: center;
    background-image: url(home/screenshots/Vector\ 1.svg);
    background-size: 140%;
    background-position-y: 90%;
   }

   .subheading {
    margin-bottom: 0.5rem;
   }
   .section_home-hero .text-wrapper {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
   }
   .section_home-hero .hero-heading {
    margin: 0 auto;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 1rem;
   }
   .hero-p {
    margin: 0 auto;
   }
   .button-wrapper {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
   }
   .button-wrapper li,
   .button-wrapper li .btn{
    width: 100%;
   }
   .section_home-hero .grid-2col {
    gap: 2rem;
   }

   .hero-container {
    padding-top: 5rem;
    }

    /* USPS --------------------------------- */
    .usp-container {
        flex-direction: column;
        max-width: 300px;
    }

    /* OVER MIJ -------------------------------- */
    .section_projects {
        padding: 0 0;
    }
    .about-me-inner-section {
        padding: 1rem;
    }
    .about-content {
        max-width: 100%;
        margin-bottom: 22rem;
    }
    .about-content  {
        text-align: center;
    }
    .about-inner-section .hero-p {
        margin-bottom: 1rem;
    }

    /* TESTIMONIALS -------------------------- */
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
    .testimonial {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* PROJECTS ------------------------------- */
    .section_projects {
        padding: 3rem 0;
    }
    .section_projects .text-wrapper  {
        max-width: 80%;
    }
    .tab-buttons {
        display: grid;
        grid-template-columns: 1fr;
    }
    .tab-btn {
        width: 100%;
        font-size: 1rem;  
    }
    .section_projects .gap-small {
        gap: 2rem;
    }
    .project-grid {
        grid-template-columns: 1fr;
    }
    .project-card {
        width: 100%;
        max-width: none;
    }
    .project-header-img {
        height: 200px;
    }
    .project-content {
        height: 300px;
    }
    .project-name {
        font-size: 1.7rem;
    }

    /* DETAIL PAGE ----------------------------- */
    .overlay .grid-2col {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }
    .overlay-close-btn {
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 50;
        background-color: var(--off-white-1);
        backdrop-filter: blur(20px);
        border-radius: 5px;
        border: 1px solid var(--off-white);
    }
    .overlay .container-medium {
        margin-top: 4rem;
    }
    .swiper {
        width: 100%;
    }
    .category-list {
        display: none;
    }
    .swiper-wrapper {
        max-width: 300px;
    }
    .category-list {
        justify-content: center;
        gap: 1rem;
    }
    .overlay-text {
        text-align: center;
    }
    .gradient-title {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .overlay-text p {
        max-width: 80%;
        margin: 0 auto;
    }
    .linkbtns {
      flex-direction: column;
    }
    .overlay .margin-bottom-large {
        margin-bottom: 3rem;
    }
    .linkBtn {
        font-size: 0.8rem;
        /* padding: 1rem 0.5rem; */
    }
    .linkbtns {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    /* CONTACT BANNER -------------------- */
    .banner-inner-section .hero-p {
        max-width: 100%;
        margin-bottom: 0.7rem;
    }
    .banner-inner-section {
        padding-bottom: 25rem;
    }
    .banner-inner-section .contact-list {
        align-items: flex-start;
    }

    /* FOOTER ----------------- */
    .section_footer .container-medium {
        text-align: center;
    }

    .footer-container {
        flex-direction: column;
        gap: 2rem;
    }
    .contact-list {
        align-items: center;
    }
    .socials {
        justify-content: center;
    }
    .footer-form {
        flex-direction: column;
        gap: 1rem;
    }
    .footer-email-field {
        width: 100%;
    }
    .footer-email-input,
    .footer-submit-btn {
        width: 100%;
    }
    .footerError {
        text-align: left;
    }

}